<!DOCTYPE html>
<html>
<head>
    	<meta charset="utf-8">
    	<meta name="viewport" content="width=device-width, initial-scale=1">
    	<title>Projeto Ações</title>
	<style>header{text-align:center;font-weight: bold;} </style>
    	<link rel ="stylesheet" href = "../static/bootstrap.css">
    	<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    	<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>
</head>
<body style="margin:0px">
	<header><font size="+2">Projeto Investimento (V0)</font></header>
	<div class="container-fluid">
	{% for candle,stock_prevision,empresa,ticker in empresas%}
	<div class="row">
		<div class=".col">	
			<table class="table table-striped table-responsive table-bordered">
					<tr>
						<td>Ticker</td>
						<td>{{empresa.papel}}</td>
					</tr>
					<tr>
						<td>Empresa</td>
						<td>{{empresa.empresa}}</td>
					</tr>
					<tr>
						<td>Setor</td>
						<td>{{empresa.setor}}</td>
					</tr>
					<tr>
						<td>Valor de Mercado</td>
						<td>{{empresa.valor_mercado}}</td>
					</tr>
					<tr>
						<td>Preço/Lucro</td>
						<td>{{empresa.pl}}</td>
					</tr>
					<tr>
						<td>Lucro por Ação</td>
						<td>{{empresa.lpa}}</td>
					</tr>
					<tr>
						<td>Preço sobre Ativos</td>
						<td>{{empresa.p_ativos}}</td>
					</tr>
					<tr>
						<td>ROIC</td>
						<td>{{empresa.roic}}</td>
					</tr>
					<tr>
						<td>Margem Líquida</td>
						<td>{{empresa.marg_liq}}</td>
					</tr>
			</table>
		</div>
    		<div class=".col-xl">
			<div class="chart" id={{ticker~'candle'}}>
					<script>
						var graph = {{candle | safe}}
						Plotly.plot({{ticker~'candle'}},graph,{});
					</script>
			</div>
		</div>
    		<div class=".col-xl">
			<div class="chart" id={{ticker~'prevision'}}>
					<script>
						var graph = {{stock_prevision | safe}}
						Plotly.plot({{ticker~'prevision'}},graph,{});
					</script>
			</div>
		</div>
	</div>
	{% endfor %}
	</div>
</body>
</html>
